In [3]:
#1
print("The First 10 Natural Numbers")
i = 0

while i < 9:
    i=i+1
    print(i)

The First 10 Natural Numbers
1
2
3
4
5
6
7
8
9

In [22]:
#2
n=4
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("1",end=" ")
    print()

  1 1 1 1
    1 1 1
      1 1
        1

In [24]:
#3
n = int(input("Number: "))
sum = 0
for i in range(1, n + 1):
    sum +=i
print(sum)

Number: 5
15

In [25]:
#4
num = int(input("enter number "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [26]:
#5
a=[1,5,7,9,33]
for i in a:
    print(i)

1
5
7
9
33

In [27]:
6
count = 0
n = (input("number:"))
print('total number of digits:',len(n))

number:6
total number of digits: 1

In [7]:
#7
n = 5
for i in range(n+1):
         print((n-i)*(" ")+(i*' *'))
for i in range((n-1),0,-1):
        print((n-i)*(" ")+(i*' *'))
print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [28]:
#8
l=[1,5,7,9,26,11]
for n in reversed (l):
 print(n,end=' ')

11 26 9 7 5 1

In [9]:
#9
for i in range (10,0,-1):
 print(-i,end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [10]:
#10
for k in range(1,9,2):
 print(k+1)
else:
 print("done",end=' ')

2
4
6
8
done

In [11]:
#11
a = 1
b = 15

for num in range(a, b + 1):
    if num > 1: 
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:     
         print(num)

2
3
5
7
11
13

In [12]:
#12
x = 10
n1,n2 = 0,1
sum = 0
if (x<=0):
    print('Enter number greater than 0')
else:
    for i in range(0,num):
        print(sum,end=' ')
        n1 = n2
        n2 = sum
        sum = n1 + n2

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [13]:
#13
def factorial(n):
    if(n==0):
     return 1
    else:
     return n*factorial(n-1)

print("The factorial of given number is",factorial(6))

The factorial of given number is 720

In [14]:
#14
i = int(input("Enter number:"))
rev=0
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
print(rev)

Enter number:90876
67809

In [15]:
# 15
list = [2,1,45,57,64,84,76]
for i in range(len(list)):
    if(not(i%2) == 0):
        print(list[i],end=' ')

1 57 84

In [29]:
#16
s=[1,2,3,4]
cube=[]
for i in s:
    cube.append(i*i*i)
print(cube)

[1, 8, 27, 64]

In [18]:
#17
num = int(input("Enter the n terms:"))
a = 3
sum_series = 0
for i in range(0,num):
    print(a)
    sum_series+=a
    a=a*10+3
    print(sum_series)

Enter the n terms:5
3
3
33
36
333
369
3333
3702
33333
37035

In [19]:
#18
n=5
for x in range(1,n+1):
    for y in range(1,x+1):
      print(y,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5